  body {
    background-image: url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .container {
    margin: 0px auto;
    width: 960px;
  }
  .topdescription{
    display: flex;
    justify-content: end;
  }
 
  .logo{
    padding-left: 17px;
    height: auto;
    position: absolute;
    top: 11px;
  }
  .active, li a:hover{
    background-color: #486881;
    color: white;
  }
  
 .naviagtion-items {
  border: 1px solid #3C4D61;

}
  ul {
    padding-left: 336PX;
    list-style-type: none;
    font-family: Trebuchet MS;
    display: inline-flex;
  }

  li:not(:last-child):after{
    content:"|";
    color:#fff;
  }
  
  .li-home{
    padding-left: 5px;
    padding-right: 5px;
  } 
  li{
    font-family: Trebuchet MS;
    list-style: none;
  }
  
  li a {
    font-family: Trebuchet MS;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    color: #9CCBEA;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
  }
  
   li a:hover {
    background-color:#486881;
  } 
  .top-navigation{
    border: 1px solid red;
  } 
  .description{ 
    font-family: Trebuchet MS;
    font-size: 15px;
    letter-spacing: 12px;
    text-align: start;
    color: white;
    background: rgba(0,0,0,0.5);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
  }
  .content-block{
    background-color: #10223A;
    padding:7px;
  }
  .paragraph {
    border-width: 1px;
    border-style: groove;
    border-image: linear-gradient(#10223A, #525A66) 30;
    border-style: solid;
    content: "";
    display: flex;
    clear: both;
  }
  .paragraph-section {
    font-family: Trebuchet MS;
    font-size: 14px;
    color: #FEFFFF;
    padding-right: 10px;
    padding-top: 25px;
    padding-left: 20px;
    letter-spacing: 2px;
    padding-bottom: 24px;
  }
 
  a{
    color: #9EDAF5;
  }
  .footer{
    font-family:  Trebuchet MS ;
    text-align: center;
    margin-top: 3px;
    padding-top: 1px;
    padding-bottom: 5px;
    color: white;
    background: rgba(0,0,0,0.5);
  }
  .homepageimage{
    filter: brightness(2);
  }
  .top-description{
    font-family: Trebuchet MS;
    margin-bottom: 35px;
    display: flow;
    font-size: 10.5px;
    color: white;
    background-color: #3A5889;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 4px;
    padding-bottom: 6px;
  }
  .body{
    margin-top: 0px;
  }
  .footer-description{
    font-family: Trebuchet MS;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #C0C7E1;
  }
  .paragraph-description{
    padding-right: 25px;
  }
  .contentlink{
   color: white;
  }
 .nav-bar-items{
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 7px;
  padding-bottom: 0px;
  height: 58px;
  background-color: rgba(0,0,0,0.7);
 }

