  body {
    background-image: url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .container {
    margin: 0px auto;
    width: 960px;
  }
  .topdescription{
    background-color: none;
  }

  .logo{
    padding-left: 17px;
    height: auto;
    position: absolute;
    top: 11px;
    float: left;
  }
  .navigationbaritems{
    width: 730px;
    float: left;
  }
 .naviagtion-items {
  border: 1px solid #3C4D61;
  padding-right: 245PX;
  margin-left: 7px;
  width: 700px;
  float: left;
}
  ul {
    padding-left: 212PX;
    list-style-type: none;
    font-family: Trebuchet MS;
  }

  li ::after{
    content: " |";
    position: relative;
    right:-3px;
  }

  li :not(:last-child):after{
    content:"|";
    color:#fff;
  }

  /* li  a  :nth-child(1)  ::after{
    content: none;
  } */
  .li-home{
    margin-left: 8rem;
  } 
  li{
    display: inline-block;
    font-family: Trebuchet MS;
    list-style: none;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  li a {
    font-family: Trebuchet MS;
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #9CCBEA;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
  }
  
   li a:hover {
    background-color:#486881;
  } 
  .top-navigation{
    border: 1px solid red;
  } 
  .description{ 
    font-family: Trebuchet MS;
    font-size: 15px;
    letter-spacing: 12px;
    text-align: start;
    color: white;
    background: rgba(0,0,0,0.5);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
  }
  .content-block{
    background-color: #10223A;
    padding:7px;
  }
  .paragraph {
    border-width: 1px;
    border-style: groove;
    border-image: linear-gradient(#151821, #525A66) 30;
    border-style: solid;
    content: "";
    display: flex;
    clear: both;
    background-color: #10223A;
  }
  .paragraph-section {
    font-family: Trebuchet MS;
    font-size: 14px;
    color: white;
    padding-right: 10px;
    padding-top: 25px;
    padding-left: 20px;
    letter-spacing: 1px;
    padding-bottom: 24px;
    background-color: #0E223A;
  }
 
  a{
    color: #9EDAF5;
  }
  .footer{
    font-family: Candara ;
    text-align: center;
    margin-top: 3px;
    padding-top: 1px;
    padding-bottom: 5px;
    color: white;
    background: rgba(0,0,0,0.5);
  }
  .image1{
    filter: brightness(2);
  }
  .top-description{
    font-family: Trebuchet MS;
    margin-bottom: 35px;
    display: flow;
    font-size: 10.5px;
    color: white;
    margin-left: 690px;
    background-color: #3A5889;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
  }
  .body{
    margin-top: 0px;
  }
  .footer-description{
    font-family: Trebuchet MS;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #C0C7E1;
  }
  .paragraph-description{
    padding-right: 25px;
  }
  .contentlink{
   color: white;
  }
 .nav-bar-items{
  padding-top: 7px;
  padding-bottom: 7px;
  height: 58px;
  background-color: rgba(0,0,0,0.7);
 }
 .items1{
  width:700px;
 }
