  body {
    background-image: url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    margin: 0px;
    width: 1280px;
  }

  .logo{
      position:absolute;
      width:100px;
      height: 150px;
  }

  ul {
    list-style-type: none;
    font-family: sans-serif;
    margin-top: 35px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 0PX;
    padding: 0;
    overflow: hidden;
    background-color:  #142C44;
    display: flex;
  }
  
  li {
    font-family: sans-serif;
    float: left;
    list-style: none;
  }
  
  li a {
    font-family: sans-serif;
    display: block;
    color: #9CCBEA;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .description{ 
    font-family: sans-serif;
    text-align: start;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
    color: white;
    background: rgba(0,0,0,0.5);
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .row:after {
    margin-left: 150px;
    margin-right: 150px;
    content: "";
    display: table;
    clear: both;
    background-color: #10223A;
  }
  .column1 {
    font-family: sans-serif;
    color: white;
    margin-left: 150px;
    float: left;
    width: 310px;
    padding: 10px;
    height: 450px; 
    background-color: #0E223A;
  }
  .column2 {
    font-family: sans-serif;
    color: white;
    float: left;
    width: 310px;
    padding: 10px;
    height: 450px; 
    background-color: #0E223A;
  }
  .column3 {
    font-family: sans-serif;
    color: white; 
    float: left;
    width: 300px;
    padding: 10px;
    height: 450px; 
    background-color: #0E223A;
  }
  a{
    color: #9EDAF5;
  }
  .footer{
    font-family: sans-serif;
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    background: rgba(0,0,0,0.5);
  }