  body {
    background-image: url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .container {
    margin: 0px auto;
    width: 960px;
  }
  .topdescription{
    background-color: none;
  }
  .logo{
   
    height: auto;
    position: relative;
    top: -9px;
    float: left;
  }
  .logo   img{
    padding-left: 10px;
    width:100px;
    height:auto;
  }

  .logo1{
    padding-left: 17px;
    height: auto;
    position: absolute;
    top: 11px;
    float: left;
  }
  .items{
    width: 730px;
    float: left;
  }
 .items1 {
  border: 1px solid #3C4D61;
  padding-right: 245PX;
  margin-left: 7px;
  width: 700px;
  float: left;
}
  ul {
    /* width: 700px;
    float: left; */
    padding-left: 229PX;
    list-style-type: none;
    font-family: sans-serif;
  }
  
  li {
    padding: 0px 1em;
    display: inline-block;
    font-family: sans-serif;
    list-style: none;
  }
  
  li a {
    font-family: sans-serif;
    display: block;
    color: #9CCBEA;
    text-align: center;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px; */
    text-decoration: none;
  }
  
  li a:hover {
    background-color:#486881;
  }
  /* .top-navigation{
    border: 1px solid red;
  } */
  .description{ 
    font-family: Trebuchet MS;
    font-size: 15px;
    letter-spacing: 12px;
    text-align: start;
    color: white;
    background: rgba(0,0,0,0.5);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
  }
  .paragraph {
    border-width: 1px;
    border-style: solid;
    /* border-color: red; */
    /* box-sizing: border-box; */
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-width: 2px;
    border-style: solid;
       /* margin-left: 150px; */
    /* margin-right: 150px; */
    content: "";
    display: flex;
    /* display: table; */
    clear: both;
    background-color: #10223A;
  }
  .paragraph1 {
    font-family: Candara;
    color: white;
    padding-right: 10px;
    padding-top: 25px;
    padding-left: 25px;
    letter-spacing: 1px;
    padding-bottom: 24px;
    background-color: #0E223A;
  }
  .paragraph2 {
    font-family: Candara;
    color: white;
    /* float: left; */
    /* width: 310px; */
    padding-top: 25px;
    /* padding-left: 25px; */
    letter-spacing: 1px;
    /* padding-bottom: 20px; */
    background-color: #0E223A;
    padding-right: 24px;
  }
  .paragraph3 {
    font-family: Candara;
    color: white;
    float: left;
    /* width: 300px; */
    padding-top: 25px;
    padding-right: 16px;
    letter-spacing: 1px;
    /* margin-right: 40px; */
    background-color: #0E223A;
  }
  a{
    color: #9EDAF5;
  }
  .footer{
    font-family: Candara ;
    text-align: center;
    margin-top: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    background: rgba(0,0,0,0.5);
  }
  .image1{
    filter: brightness(2);
  }
  .top-description{
    font-family: Candara;
    margin-bottom: 35px;
    display: flow;
    font-size: 12px;
    color: white;
    margin-left: 675px;
    background-color:#3A5889;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    align-items: end;
  }
  .body{
    margin-top: 0px;
  }
  .footer-description{
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #C0C7E1;
  }
  .paragraph-description{
    padding-right: 25px;
  }
  .contentlink{
   color: white;
  }
 .nav-bar-items{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 46px;
  background-color: rgba(0,0,0,0.7);
 }
 .items1{
  width:700px;
 }
