body {
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  margin: 0px;
  width: 1280px;
}

.logo{
  
  position:absolute;
  width: 180px;
  height: 125px;
  left: 158px;
  top: 35px;
}
.items{
  padding-left: 130px;
}

ul {
  list-style-type: none;
  font-family: sans-serif;
  margin-top: 35px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 0PX;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
  display: flex;
}

li {
  font-family: sans-serif;
  float: left;
  list-style: none;
 
}
h4{
  color:#C2DDF5;
  font-family: Calibri light;
  letter-spacing: 2px;
}
li a {
  font-family: sans-serif;
  display: block;
  color: #9CCBEA;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  text-decoration: none;
}

li a:hover {
  background-color:#486881;
  border-radius: 3px;
  height: 3px;
  padding-right: 2px;
  margin-top: 8px;
}


a{
  color: #AABED5;
}
.footer{
  font-family: Candara ;
  text-align: center;
  margin-top: 3px;
  margin-left: 150px;
  margin-right: 116px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  background: rgba(0,0,0,0.5);
}
.image1{
  filter: brightness(2);
}
.top-description{
  font-family: Candara;
  font-size: 12px;
  color: white;
  background-color:#3A5889;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-left: 850px;
  margin-right: 120px;
  align-items: end;
}
.body{
  margin-top: 0px;
}
.footer-description{
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.column1{
  float: left;
  margin-top: 32px;
  padding-left: 20px;
  margin-left: 150px;
  padding-top: 20px;
  padding-bottom: 57px;
  width: 315px;
  background: rgba(0,0,0,0.7);
}
.column2{
  float: left;
  font-family: Candara ;
  width: 646px;
  color: white;
  letter-spacing: 1px;
  margin-top: 32px;
  background: rgba(0,0,0,0.7);
  padding-top: 0px;
  padding-bottom: 26px;
}
.column3{
  float: left;
  font-family: Candara ;
  padding-top: 15px;
  padding-left: 20px;
  margin-left: 150px;
  letter-spacing: 1px;
  width: 315px;
  padding-bottom: 181.5px;
  background: rgba(0,0,0,0.7);
}
.column4 {
  float: left;
  width: 646px;
  font-family: Candara;
  color: white;
  padding-bottom: 32.5px;
  margin-bottom: 10px;
  background: rgba(0,0,0,0.7);
  letter-spacing: 1px;
}
.column {
  float: left;
  margin-left: 150px;
  width: 522px;
  background: rgba(0,0,0,0.5);
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 50px;
}
.image1{
  background: rgba(0,0,0,0.5);
  margin-left: 150px;
  margin-right: 150px;
  width: 50%;
}
.description{
  background: rgba(0,0,0,0.5);
  margin-left: 150px;
  margin-right: 150px;
  width:490px;
}
hr{
  height:0.5px;
  margin-right: 40px;
  margin-top: 10px;
  border-width:0;
  color:gray;
  background-color:gray;
}
.button{
    border-color: #135D7A;
    background-color: #145B76;
    border-radius: 3px;
    font-size: 10px;
    color: #FFFFFF;
    padding: 3px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
