body {
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  margin: 0px auto;
  width: 960px;

}

.logo{
   
  height: auto;
  position: relative;
  top: -9px;
  float: left;
}
.logo   img{
  padding-left: 10px;
  width:100px;
  height:auto;
}
.items{
  width: 730px;
  float: left;
}

ul {
  padding-left: 229PX;
  list-style-type: none;
  font-family: sans-serif;
}
.services-p{
padding-left: 20px;
}

li ::after{
  content: " |";
  position: relative;
  right:-3px;
}

li  a  :nth-child(1)  :after{
  content: none;
}

li {
  display: inline-block;
  font-family: sans-serif;
  list-style: none;
  margin-right: 5px;
  margin-left: 5px;
}

li a {
  font-family: sans-serif;
  display: block;
  color: #9CCBEA;
  text-align: center;
  text-decoration: none;
}
h4{
  color:#C2DDF5;
  font-family: Calibri light;
  letter-spacing: 2px;
}
li a:hover {
  background-color:#486881;
}

a{
  color: #AABED5;
}

.itemstyle{
  margin-left: 6rem;
} 
.footer{
  font-family: Candara ;
  text-align: center;
  margin-top: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  background: rgba(0,0,0,0.5);
}

.top-description{
  font-family: Candara;
  margin-bottom: 35px;
  display: flow;
  font-size: 12px;
  color: white;
  margin-left: 675px;
  background-color:#3A5889;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  align-items: end;
}
.body{
  margin-top: 0px;
}
.topdescription{
  background-color: none;
}
.top-description{
  font-family: Candara;
  margin-bottom: 35px;
  display: flow;
  font-size: 12px;
  color: white;
  margin-left: 675px;
  background-color: #3A5889;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
}
.footer-description{
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #C0C7E1;
}
.content-description1{
  padding-right: 24px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 57px;
}
.content-description2{
    font-family: Candara;
    color: white;
    letter-spacing: 1px;
    padding-top: 0px;
    padding-bottom: 26px;
}
.contentlink{
  color: white;
 }

.container-content{
  /* padding:7px; */
  margin-top: 32px;
  background: rgba(0,0,0,0.7);

}
.content{
     /* margin-top: 32px; */
     border-width: 1px;
     border-style: groove;
     border-image: linear-gradient(#151821, #525A66) 30;
     border-style: solid;
     display: flex;
     width: 960px;
/* background-color: #10223A; */
 
}
.logo1{
  padding-left: 17px;
  height: auto;
  position: absolute;
  top: 11px;
  float: left;
}
.itemstyle{
  margin-left: 6rem;
} 
.description{
  background: rgba(0,0,0,0.5);
  margin-left: 150px;
  margin-right: 150px;
  width:490px;
}
.naviagtion-items{
  border: 1px solid #3C4D61;
  padding-right: 245PX;
  margin-left: 7px;
  width: 700px;
  float: left;
 }
hr{
  height:0.5px;
  margin-right: 40px;
  margin-top: 10px;
  border-width:0;
  color:gray;
  background-color:gray;
}
.button{
    border-color: #135D7A;
    background-color: #145B76;
    border-radius: 3px;
    font-size: 10px;
    color: #FFFFFF;
    padding: 3px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
 .navigationbaritems{
  width: 730px;
  float: left;
}
 .naviagtion-items {
  border: 1px solid #3C4D61;
  padding-right: 245PX;
  margin-left: 7px;
  width: 700px;
  float: left;
}
.nav-bar-items{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  background-color: rgba(0,0,0,0.7);
 }
.description-points{
  background-color: #10223A;
}
.image1{
  padding-bottom: 16px;
}