body {
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  margin: 0px auto;
  width: 960px;

}
.logo{
  padding-left: 17px;
  height: auto;
  position: absolute;
  top: 11px;
}

ul {
  padding-left: 212PX;
  list-style-type: none;
  font-family: Trebuchet MS;
}
.services-content{
padding-left: 20px;
}

li:not(:last-child):after{
  content:"|";
  color:#fff;
}

li {
  display: inline-block;
  font-family: sans-serif;
  list-style: none;
  margin-right: 8px;
  margin-left: 15px;
}

li a {
  font-family: Trebuchet MS;
    margin-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #9CCBEA;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}
h2{
  color:#C2DDF5;
  font-family: Trebuchet MS;
  letter-spacing: 2px;
}
li a:hover {
  background-color:#486881;
}

a{
  color: #AABED5;
  font-family: Trebuchet MS;
  padding-bottom: 5px;
}

.li-home{
  margin-left: 6rem;
  margin-right: 5px;
} 
.footer{
  font-family: Trebuchet MS;
  text-align: center;
  margin-top: 3px;
  padding-top: 1px;
  padding-bottom: 5px;
  color: white;
  background: rgba(0,0,0,0.5);
}

.top-description{
  font-family: Trebuchet MS;
  margin-bottom: 35px;
  display: flow;
  font-size: 10.5px;
  color: white;
  margin-left: 690px;
  background-color: #3A5889;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 2px;
}
.body{
  margin-top: 0px;
}
.topdescription{
  background-color: none;
}
.top-description{
  font-family: Trebuchet MS;
  margin-bottom: 35px;
  display: flow;
  font-size: 10.5px;
  color: white;
  margin-left: 695px;
  background-color: #3A5889;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
}
.footer-description{
  font-family: Trebuchet MS;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #C0C7E1;
}
.content-description{
  font-family: Trebuchet MS;
  font-size: 15px;
  padding-right: 24px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 57px;
}
.content-description-section{
  font-family: Trebuchet MS;
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
  padding-top: 0px;
}
.contentlink{
  color: white;
 }

.container-content{
  padding:7px; 
  margin-top: 32px;
  background: rgba(0,0,0,0.8);
}
.content{
  border-width: 1px;
  border-style: groove;
  border-image: linear-gradient(#332F24, #525A66) 30;
  border-style: solid;
  display: flex;
}

.description{
  background: rgba(0,0,0,0.5);
  margin-left: 150px;
  margin-right: 150px;
  width:490px;
}
.naviagtion-items{
  border: 1px solid #3C4D61;
 }
hr{
  height:0.5px;
  margin-top: 10px;
  border-width:0;
  color:gray;
  background-color:gray;
}
.button{
  font-family: Trebuchet MS;
  border: 1px solid #146986;
  background-image: linear-gradient(#155A77,#0B283A);
  border-radius: 7px;
  font-size: 10px;
  color: #AECBED;
  padding: 5px;
  margin-left: 25px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.nav-bar-items{
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 7px;
  padding-bottom: 0px;
  height: 58px;
  background-color: rgba(0,0,0,0.7);
 }
.content-highlights{
  padding-left: 20px;
  margin:0px;
}
.description-points{
  font-family: Trebuchet MS;
  background-image: linear-gradient(#10223A,#0f1f27);
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
h5{
  padding-left: 30px;
  margin-top: 10px;
    margin-bottom: 14px;
}
.services-image{
  padding-bottom: 16px;
}